.frame2 {
    background-color: #00bf63;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame2 .div {
    background-color: #00bf63;
    height: 1968px;
    position: relative;
    width: 1920px;
  }
  
  .frame2 .text-wrapper {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 784px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 69px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .overlap {
    background-color: #ffffff;
    height: 91px;
    left: 0;
    position: absolute;
    top: 137px;
    width: 1903px;
  }
  
  .frame2 .control {
    background-image: url('../imagenes/estar-minijuegos.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 445px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }

  .frame2 .boton-minijuegos{
    background-image: url('../imagenes/control.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 445px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }
 
  .frame2 .boton-libros{
    background-image: url('../imagenes/lecturas.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 956px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }

  .frame2 .libros{
    background-image: url('../imagenes/estar-libros.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 956px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }

  .frame2 .boton-videos{
    background-image: url('../imagenes/videos.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 1467px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }

  .frame .boton-libros{
    background-image: url('../imagenes/lecturas.jpg');
    background-size: cover;
    background-position: center;
    height: 81px;
    left: 956px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }
  
  .frame2 .videos {
    height: 81px;
    left: 1467px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 80px;
  }
  
  .frame2 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 784px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .usuario-name {
    background-image: url('../imagenes/usuario.jpg');
    background-size: cover;
    background-position: center;
    height: 47px;
    left: 1226px;
    object-fit: cover;
    position: absolute;
    top: 56px;
    width: 260px;
  }
  
  .frame2 .cerrar-sesion {
    height: 38px;
    left: 1511px;
    object-fit: cover;
    position: absolute;
    top: 65px;
    width: 150px;
  }

  .frame2 .boton-sesion{

    background-image: url('../imagenes/cerrar-sesion.jpg');
    background-size: cover;
    background-position: center;
    height: 38px;
    left: 1511px;
    object-fit: cover;
    position: absolute;
    top: 65px;
    width: 150px;
  }
  
  
  .frame2 .overlap-group {
    background-color: #7ed957;
    height: 376px;
    left: 0;
    position: absolute;
    top: 357px;
    width: 1903px;
  }
  
  .frame2 .overlap-2 {
    height: 376px;
    left: 1353px;
    position: absolute;
    top: 0;
    width: 550px;
  }
  
  .frame2 .rectangulo {
    background-color: #3b643b;
    height: 135px;
    left: 0;
    position: absolute;
    top: 0;
    width: 550px;
  }
  
  .frame2 .minijuegos {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .rectangle {
    background-color: #57a052;
    height: 245px;
    left: 0;
    position: absolute;
    top: 131px;
    width: 550px;
  }
  
  .frame2 .texto-primerjueg {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 369px;
  }
  
  .frame2 .imagen-primerjuego {
    background-image: url('../imagenes/climamiamigo.jpg');
    background-size: cover;
    background-position: center;
    height: 345px;
    left: 348px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 807px;
  }
  
  .frame2 .overlap-3 {
    background-color: #7ed957;
    height: 497px;
    left: 0;
    position: absolute;
    top: 1121px;
    width: 1903px;
  }
  
  .frame2 .videos-interactivos-wrapper {
    background-color: #3b643b;
    height: 135px;
    left: 1353px;
    position: absolute;
    top: 0;
    width: 550px;
  }
  
  .frame2 .videos-interactivos {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .imagen-tercerjuego {
    background-image: url('../imagenes/queescambioclimatico.jpg');
    background-size: cover;
    background-position: center;
    height: 420px;
    left: 348px;
    object-fit: cover;
    position: absolute;
    top: 64px;
    width: 807px;
  }
  
  .frame2 .texto-tercerjuego-wrapper {
    background-color: #57a052;
    height: 362px;
    left: 1353px;
    position: absolute;
    top: 135px;
    width: 550px;
  }
  
  .frame2 .texto-tercerjuego {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 90px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 369px;
  }
  
  .frame2 .span {
    text-decoration: underline;
  }
  
  .frame2 .text-wrapper-3 {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame2 .lecturas-wrapper {
    background-color: #3b643b;
    height: 135px;
    left: 1353px;
    position: absolute;
    top: 733px;
    width: 550px;
  }
  
  .frame2 .lecturas {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 46px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .minijuegos-2 {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 775px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 246px;
    white-space: nowrap;
    width: 442px;
  }
  
  .frame2 .imagen-segundojuego {
    background-image: url('../imagenes/origencambioclimatico.jpg');
    background-size: cover;
    background-position: center;
    height: 329px;
    left: 348px;
    object-fit: cover;
    position: absolute;
    top: 766px;
    width: 807px;
  }
  
  .frame2 .nios-jugando {
    background-image: url('../imagenes/chicos-jugando.jpg');
    background-size: cover;
    background-position: center;
    height: 238px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1618px;
    width: 1904px;
  }
  
  .frame2 .derechos-reservados {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 816px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1880px;
    width: 356px;
  }
  
  .frame2 .texto-segundojuego-wrapper {
    background-color: #57a052;
    height: 253px;
    left: 1353px;
    position: absolute;
    top: 868px;
    width: 550px;
  }
  
  .frame2 .texto-segundojuego {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 369px;
  }
  
  .frame2 .texto-minijuegos {
    color: #ffffff;
    font-family: "Contrail One-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 597px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 290px;
    white-space: nowrap;
    width: 815px;
  }
  
  .frame2 .image {
    height: 87px;
    left: 59px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 87px;
  }

  .frame2 .boton-inicio{
    background-image: url('../imagenes/inicio.jpg');
    background-size: cover;
    background-position: center;
    height: 87px;
    left: 59px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 87px;

  }
  
  .frame2 .overlap-4 {
    height: 30px;
    left: 68px;
    position: absolute;
    top: 98px;
    width: 69px;
  }
  
  .frame2 .rectangle-2 {
    background-color: #273cab;
    border-radius: 49px;
    height: 28px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 69px;
  }
  
  .frame2 .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto Slab-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 29px;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 55px;
  }
  